

@{
    ViewData["Title"] = "KimliklendirmeListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<KimliklendirmeListViewModel> Kimliklendirmeler = ViewData["Kimliklendirmeler"] as IEnumerable<KimliklendirmeListViewModel>;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<form method="get" asp-action="KimliklendirmeListele" asp-controller="Kimliklendirme">
 <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Kimliklendirme Listesi</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Etiket No</th>
                                    <th>Hasar Açıklama</th>
                                    <th>Mefruşat Türü</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Kimliklendirmeler)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.EtiketNo</td>
                                        <td>@item.HasarAciklama</td>
                                        <td>@item.MefrusatTur</td>
                                    </tr>

                                }

                            </tbody>
                           
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
               
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</form>

